@font-face {
  font-family: "Lufga" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-display: swap !important;
  src: url(https://25758250.fs1.hubspotusercontent-eu1.net/hubfs/25758250/fonts/Lufga-Regular.woff2)
    format("woff2") !important;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD !important;
}

@font-face {
  font-family: "Lufga" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-display: swap !important;
  src: url(https://25758250.fs1.hubspotusercontent-eu1.net/hubfs/25758250/fonts/Lufga-Medium.woff2)
    format("woff2") !important;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD !important;
}

@font-face {
  font-family: "Lufga" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-display: swap !important;
  src: url(https://25758250.fs1.hubspotusercontent-eu1.net/hubfs/25758250/fonts/Lufga-SemiBold.woff2)
    format("woff2") !important;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD !important;
}

body {
  --font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  --header-logo-height: 40px !important;
  --graphite: #1d1d1d !important;
  --light-purple: #f4f7fc !important;
  --pay-aqua: #6ad1f2 !important;
  --lightGray: var(--light-purple) !important;
  --color-link-background: var(--light-purple) !important;
  --border-radius: 10px !important;
  color: var(--graphite) !important;
}

body .ThemeContext_line .rm-Header {
  --Header-border-color: #ededed !important;
  --Header-button-hover: white !important;
  --Header-border-width: 1px !important;
}

.markdown-body {
  --markdown-title-font: Lufga, Inter !important;
  --markdown-font-size: 16px !important;
  --markdown-line-height: 1.8 !important;
  --table-head: transparent !important;
  --table-stripe: transparent !important;
  --table-edges: #ededed !important;
}

.App .markdown-body .rdmd-table table {
  border: none !important;
}

.App .markdown-body table th {
  font-family: var(--markdown-title-font) !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19px !important;
}

.App .markdown-body table td,
.App .markdown-body table th {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  padding: 15px !important;
}

.App .markdown-body table tbody tr {
  font-size: 15px !important;
  line-height: 140% !important;
  transition: background-color 150ms ease-in-out !important;
}

.App .markdown-body table tbody tr:hover {
  background-color: var(--color-link-background) !important;
}

.markdown-body a[href],
.markdown-body a:not([href=""]) {
  color: var(--color-primary) !important;
  text-decoration: underline !important;
}

body .App .rm-Guides,
body .App .rm-ReferenceMain,
body .App .rm-Changelog {
  --markdown-title-font: Lufga, Inter !important;
}

body .App .rm-Guides header h1,
body .App .rm-ReferenceMain header h1,
body .App .rm-Changelog header h1,
body .App .field-description h1,
body .App .markdown-body h1 {
  font-family: Lufga, Inter !important;
  font-size: 32px !important;
  font-weight: 400 !important;
  line-height: 42px !important;
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h6,
#content [class*="TutorialHero-Col-Title"],
.heading.heading .heading-text {
  font-family: var(--markdown-title-font) !important;
  font-weight: 400 !important;
  color: var(--graphite) !important;
}

#ssr-main header [class*="LandingPageHeader-title"] {
  font-family: var(--markdown-title-font) !important;
  color: var(--graphite) !important;
  font-size: 52px !important;
  font-weight: 400 !important;
  line-height: 62.4px !important;
  margin-bottom: 20px !important;
}

.App .rm-Guides #content-head h1,
.App .rm-ReferenceMain #content-head h1,
.App .rm-Changelog #content-head h1 {
  font-family: Lufga, Inter !important;
  font-weight: 400 !important;
  margin-top: 0 !important;
  margin-bottom: 1em !important;
}

.App .rm-Header-bottom-link {
  position: relative !important;
  font-family: Lufga, Inter !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  padding: 39px 25px !important;
  border: none !important;
  border-radius: 0 !important;
}

.App .rm-Header-bottom-link:after {
  position: absolute !important;
  display: block !important;
  content: "" !important;

  right: 0 !important;
  bottom: 0 !important;
  width: 0 !important;
  height: 3px !important;

  background-color: var(--color-primary) !important;

  transition: width 250ms ease-in-out !important;
}

.App .rm-Header-bottom-link:hover:after,
.App .rm-Header-bottom-link:focus:after,
.App .rm-Header-bottom-link:active:after,
.App .rm-Header-bottom-link.active:after {
  left: 0 !important;
  right: auto !important;
  width: 100% !important;
}

.App .rm-Header-bottom-link.Button:hover,
.App .rm-Header-bottom-link.Button:focus,
.App .rm-Header-bottom-link.Button:active,
.App .rm-Header-bottom-link.Button.active {
  box-shadow: none !important !important;
}

.App [class*="Header-left"],
.App [class*="Header-right"] {
  padding-top: 0 !important;
  padding-bottom: 1px !important;
}

.rm-LandingPageHeader .Button,
#content .Button {
  font-family: Inter !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.rm-LandingPageHeader .Button,
#content .Button_md {
  padding: 25px !important;
}

.rm-LandingPageHeader {
  text-align: center !important;
}

.rm-LandingPageHeader .Button,
#content .Button_lg {
  padding: 30px !important;
}

.rm-LandingPageHeader [tag="div"] {
  justify-content: center !important;
}

#content .Button_blue,
.Button[class*="TutorialHero-Col-Button"],
.Button[class*="LandingPageHeader-button_secondary"] {
  color: #fff !important;
  background-color: var(--color-primary) !important;
  border: 2px solid var(--color-primary) !important;
  transition: background-color 250ms ease !important;
}

#content .Button:hover,
#content .Button_blue:hover,
.Button[class*="TutorialHero-Col-Button"]:hover,
.Button[class*="LandingPageHeader-button_secondary"]:hover {
  background-color: #343bd7 !important;
}

.Button[class*="LandingPageHeader-button_secondary"] {
  background-color: var(--white) !important;
  color: currentColor !important;
}

.Button[class*="LandingPageHeader-button_secondary"]:hover {
  color: var(--white) !important;
}

#content [class*="TutorialCard-Status_featured"] {
  background-color: var(--pay-aqua) !important;
  color: var(--white) !important;
}

#content [class*="DiscussList-sidebar_box"] {
  background-color: var(--light-purple) !important;
}

.App [class*="Box_rule"],
.App [class*="Box_pop"],
.App [class*="Box_card"] {
  border: 1px solid transparent !important;
  border-radius: 30px !important;
}

.App .reference-redesign .rm-Sidebar-link:hover,
.App .reference-redesign .rm-Sidebar-link:focus {
  background: var(--light-purple) !important;
}

.App .callout.callout {
  border-left: none !important;
  border-radius: 0px 20px 20px 20px !important;
  padding: 23px 30px !important;
}

.App .callout.callout .callout-heading {
  font-family: var(--markdown-title-font) !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}

.App .callout.callout .callout-icon {
  font-size: 0 !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  width: 24px !important;
  height: 24px !important;
  margin-left: 0 !important;
  margin-right: 14px !important;
}

.App .callout.callout > * {
  margin-left: 0 !important;
}

.App .callout.callout_info {
  --background: #e0f8ff !important;
  --title: var(--graphite) !important;
  --border: transparent !important;
}

.App .callout.callout_info .callout-icon {
  background-image: url(https://25758250.fs1.hubspotusercontent-eu1.net/hubfs/25758250/developer-pay-icons/carbon_information.svg) !important;
}

.App .callout.callout_warn {
  --background: #dedfff !important;
  --title: var(--graphite) !important;
  --border: transparent !important;
}

.App .callout.callout_warn .callout-icon {
  background-image: url(https://25758250.fs1.hubspotusercontent-eu1.net/hubfs/25758250/developer-pay-icons/carbon_tool-kit.svg) !important;
}

.App .callout.callout_error {
  --background: #ffd0de !important;
  --title: var(--graphite) !important;
  --border: transparent !important;
}

.App .callout.callout_error .callout-icon {
  background-image: url(https://25758250.fs1.hubspotusercontent-eu1.net/hubfs/25758250/developer-pay-icons/carbon_warning-alt.svg) !important;
}

.App .callout.callout_okay {
  --background: #dcf0d5 !important;
  --title: var(--graphite) !important;
  --border: transparent !important;
}

.App .callout.callout_okay .callout-icon {
  background-image: url(https://25758250.fs1.hubspotusercontent-eu1.net/hubfs/25758250/developer-pay-icons/carbon_thumbs-up.svg) !important;
}

img[alt="payment-icon"] {
  width: 25px !important;
  height: 25px !important;
}
